<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="app" fileName="target/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="objektwerks" level="info" additivity="false">
            <AppenderRef ref="app"/>
        </Logger>
        <Logger name="org.apache.spark" level="info" additivity="false">
            <AppenderRef ref="app"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="app"/>
        </Root>
    </Loggers>
</Configuration>